@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@layer components {
  .skeleton {
    @apply animate-shimmer bg-gradient-custom bg-custom;
  }
}

.scrollbar-stable {
  scrollbar-gutter: stable;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 25px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.custom-cart-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-cart-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-wardrobe-scrollbar::-webkit-scrollbar {
  width: 25px;
}

.custom-wardrobe-scrollbar::-webkit-scrollbar-track {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-bottom: 40px;
}

.custom-wardrobe-scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

@layer components {
  .custom-range {
    @apply w-full h-2 bg-white/20 rounded-lg appearance-none cursor-pointer outline-none;
  }

  .custom-range::-webkit-slider-thumb {
    @apply appearance-none w-10 h-6 bg-white rounded-full shadow-lg transition-transform duration-200 ease-out hover:scale-125;
  }

  .custom-range::-moz-range-thumb {
    @apply appearance-none w-10 h-6 bg-white rounded-full shadow-lg transition-transform duration-200 ease-out hover:scale-125;
  }
}
